<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClHD9l5HEuM5E9S66IWBDIttkxkErv6dg</string>
	<key>GCM_SENDER_ID</key>
	<string>265741208176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Cocktail-Front</string>
	<key>PROJECT_ID</key>
	<string>cocktail-e311f</string>
	<key>STORAGE_BUCKET</key>
	<string>cocktail-e311f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265741208176:ios:14d8b7eabcf12645c682b5</string>
</dict>
</plist>